
<style >

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}
html, body {
	height: 100%;
}

canvas {
	display: block;
}

body {
	margin: 0;
}

#unity-container {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #1A1A1A;
	background-image: url('bg.jpg');
	background-size: cover;
	background-position: center;
}

#unity-canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: min(calc(100vh * (9/16)), 100vw);
	max-width: 100%;
	max-height: 100%;
	height: auto;
	aspect-ratio: 9/16;
	display: block;
	background-image: url('loading-bg.jpg');
	background-size: cover;
	background-position: center;
}

#loader {
	position: absolute;
	left: 50%;
	bottom: 6%;
	transform: translateX(-50%);
	transform-origin: center bottom;
	text-align: center;
	z-index: 3;
	pointer-events: none;
}

#loader-wrapper {
	display: inline-block;
	padding: 6px;
	background: #FFFFFF;
	box-sizing: content-box;
	transform: rotate(1deg);
	transform: scale(.75);
	transform-origin: center bottom;
}

#loader-track {
	width: 460px;
	height: 44px;
	background: #0D1C24;
	transform: rotate(-0.5deg);
	overflow: visible;
	position: relative;
}

#loader-track-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: rotate(0.1deg);
	transform-origin: left top;
	padding: 6px 8px;
	box-sizing: border-box;
}

#loader-fill {
	width: 0%;
	height: 100%;
	background: #9A1BFF;
	transition: width 0.2s ease;
}

#loader-text {
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
	font-weight: bold;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	pointer-events: none;
}

</style >
