
<style >

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: #007bff;
	position: relative;
	user-select: none;
}

#unity-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: transparent;
	z-index: 2;
	background-size: cover;
	background-position: center;
}

#unity-canvas {
	display: block;
	width: 100%;
	height: 100%;
	background: #007bff;
}

.side-image {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 100vh;
	object-fit: contain;
	z-index: 1;
	pointer-events: none;
}

#left-img {
	right: 100%; /* стоит слева от канваса */
	margin-right: 0px;
}

#right-img {
	left: 100%; /* стоит справа от канваса */
	margin-left: 0px;
}

#loader {
	position: absolute;
	left: 50%;
	bottom: 6%;
	transform: translateX(-50%);
	transform-origin: center bottom;
	text-align: center;
	z-index: 3;
	pointer-events: none;
}

#loader-wrapper {
	display: inline-block;
	padding: 6px;
	background: #FFFFFF;
	box-sizing: content-box;
	transform: rotate(1deg);
	transform: scale(.75);
	transform-origin: center bottom;
}

#loader-track {
	width: 460px;
	height: 44px;
	background: #0D1C24;
	transform: rotate(-0.5deg);
	overflow: visible;
	position: relative;
}

#loader-track-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: rotate(0.1deg);
	transform-origin: left top;
	padding: 6px 8px;
	box-sizing: border-box;
}

#loader-fill {
	width: 0%;
	height: 100%;
	background: #9A1BFF;
	transition: width 0.2s ease;
}

#loader-text {
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
	font-weight: bold;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	pointer-events: none;
}

</style >
